[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "bundle/css_syntax"]
	path = bundle/css_syntax
	url = git://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/vim-scripts/EasyMotion.git
